@import 'bootstrap';
@import 'font-awesome';



/* change the background color */
.navbar-custom {
  background: rgb(2,0,36);
  background: -moz-linear-gradient(180deg, rgba(2,0,36,1) 4%, rgba(9,47,121,1) 34%, rgba(0,212,255,1) 100%);
  background: -webkit-linear-gradient(180deg, rgba(2,0,36,1) 4%, rgba(9,47,121,1) 34%, rgba(0,212,255,1) 100%);
  background: linear-gradient(180deg, rgba(2,0,36,1) 4%, rgba(9,47,121,1) 34%, rgba(0,212,255,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#020024",endColorstr="#00d4ff",GradientType=1);
  border-bottom: 1px solid #2A72F1;
}
/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
  color: #fff;
  font-weight: bold;
  font-size: 1.2em;
  text-decoration: none;
}


.navbar-custom .navbar-brand:hover {

color: #F1E82A;

}
/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: rgba(255,255,255,1);
}
/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:focus .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #000;
}
